h1{
    text-align: center;
    align-content: center;
    font-family: monospace;
    font-size: 2.5vw;
}


p{
    text-align: justify;
    font-family: monospace;
    font-size: 1.1vw;
    color: black;
}


.container{
    margin: 10px;
    text-align: center;
    color: black;
}

img{
    width: 50%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 50px;
    padding: 0px;
}

.bottom-left{
    font-family: monospace;
    font-size: 0.9vw;
    position: relative;
    bottom: 0px;
}

.button{
    color: white;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0px;
    transition-duration: 0.4s;
    font-family: monospace;
    font-size: 1.1vw;
    cursor: pointer;
  }
  

.button1{
    background-color: rgb(31, 165, 42); 
    border-radius: 50px;
}


.button1:hover{
    background-color: #059460;
    color: white;
}

.button1 a{
    text-decoration: none;
    color: white;
    display: block;
}


#tabela{
    font-family: monospace;
    font-size: 0.9vw;
    border-collapse: collapse;
    
    width: 100%;
}
  

#tabela td{
    padding: 10px;
}


#tabela th{
    padding: 10px;
}


#tabela tr:nth-child(even){
    background-color: #f2f2f2;
}


#tabela tr:hover{
    background-color: #ddd;
}


#tabela th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(31, 165, 42); 
    color: white;
}