extends layout

block content
    .w3-card-4
        header.w3-container.w3-teal
                h1= title
        .w3-container
            table.w3-table-all
                tr
                    th Período
                    th Compositores
                    th Editar
                    th Apagar
                each periodo in periodos
                    tr
                        td= periodo
                        td
                            a(href=`/periodos/${periodo}`)
                                button.w3-button.w3-circle.w3-grey
                                    img(src="images/people-fill.svg")
                        td
                            button.w3-button.w3-circle.w3-grey
                                img(src="images/pencil-fill.svg")
                        td
                            button.w3-button.w3-circle.w3-grey
                                img(src="images/trash3-fill.svg")

        a(href= voltar , style="text-decoration: none;")
            button.w3-button.w3-block.w3-grey
                | Volar

        footer.w3-container.w3-teal
            h5 Criado por Diogo Marques #{data}